.main-div {
    height: 80vh;
    width: 100%;
    color: rgb(96, 95, 95);
    /* font-size: 48px; */
    /* Around this size — adjusts with screen */
    /* font-weight: 400; */
    font-family: "Playfair Display", "Times New Roman", serif;
    background-image: url("C:\Users\HP\OneDrive\Desktop\node\E-Builder-Mern\frontend\public\HomeBackGroundImage.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: center; */
}
.first-heading{
    padding-top: 2rem;
    font-size: 48px;
    font-weight: 400;
}
.second-heading{
    padding-top: 3rem;
    font-size: 22px;
    font-weight: 600;
}
.button{
    background-color: #b48b3c;
    margin-top: 3rem;
    padding: 1rem;
    color: white;
}